<footer class="section section__bg footer">
    <div class="container">
        <div class="row d-flex justify-content-center mobile-wrap">
            <div class="col-md-3">
                <div class="subtitle subtitle--form">
                    Контактная информация
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div>
                        <a href="mailto:test@test.ru">test@test.ru</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div>
                        <a href="tel:+8 777 555 66 99">+8 777 555 66 99</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div>
                        <a href="https://goo.gl/maps/UriP7C7NdyDjaQU47">Москва, Бульвар Ленина 33</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle subtitle--form">
                    Основные ссылки
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#">Главная</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#projects">Наши проекты</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#services">Наши услуги</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#subscribe">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle subtitle--form">
                    Наши проекты
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#">РосНано</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#projects">Сколково</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#services">Проект "Восток"</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#subscribe">ТЭЦ Калининграда</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="subtitle subtitle--form">
                    Социальные сети
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#">VK.com</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#projects">Instagram</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#services">Facebook</a>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="mr-3">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div>
                        <a href="#subscribe">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="section__line">
        </div>
        <div class="text-center">
            (с) 2019. Все права защищены.
        </div>
    </div>
</footer>


<script src="js/main.min.js"></script>