.navbar {
    padding-bottom: 0;
    border-bottom: 1px solid #A1A1A1;
}
.nav-item a {
    font-size: $fontSize;
    font-weight: $fontMedium;
    color: $lightColor !important;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 40px 0;
    margin: 0 20px;
    &:hover {
        border-bottom: 1px solid $lightColor;
        cursor: pointer;
        transition: $transition;
        background-color: transparent;
    }
}
.navbar-toggler-icon {
    font-size: $fontBig;
    color: $titleColor;
    border: 1px solid $titleColor;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}